@font-face {
  font-family: 'Poppins';
  font-display: swap;
  src: url('/fonts/font.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2')
    format('woff2');
}

.poppins {
  font-family: 'Poppins';
}

.inter {
  font-family: 'Inter';
}
