@font-face {
  font-family: 'Poppins variant';
  font-display: swap;
  font-weight: normal;
  src: url('/fonts/font.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins variant';
  font-display: swap;
  font-weight: 700;
  src: url('/fonts/font-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins variant';
  font-display: swap;
  font-weight: normal;
  font-style: italic;
  src: url('/fonts/font-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins variant';
  font-display: swap;
  font-weight: 700;
  font-style: italic;
  src: url('/fonts/font-bold-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu72xKKTU1Kvnz.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfBBc4AMP6lQ.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/inter/v12/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuFuYAZ9hiJ-Ek-_EeA.woff2')
    format('woff2');
}

:root {
  /* Adding this manually for now */
  --someFont: 'Poppins variant', 'Poppins variant fallback';
}

h1 {
  font-family: 'Poppins variant', sans-serif;
}

.roboto {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

p {
  font-family: 'Poppins variant';
}

div {
  font-family: var(--someFont);
}

.inter {
  font-family: Inter;
}
